@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato/Lato-Black.woff2') format('woff2'),
			url('../fonts/Lato/Lato-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato/Lato-Semibold.woff2') format('woff2'),
			url('../fonts/Lato/Lato-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato/Lato-Medium.woff2') format('woff2'),
			url('../fonts/Lato/Lato-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato/Lato-Regular.woff2') format('woff2'),
			url('../fonts/Lato/Lato-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('../fonts/Bebas-Neue/Bebas-Neue-Bold.woff2') format('woff2'),
			url('../fonts/Bebas-Neue/Bebas-Neue-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {display: block;}


html {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}

img,
object,
embed {max-width: 100%;}

html {overflow-y: scroll;}

ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before,
blockquote:after,
q:before,
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
    white-space: pre; /* CSS2 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom;}
.ie7 input[type="checkbox"] {vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}

small {font-size: 85%;}

strong {font-weight: bold;}

td, td img {vertical-align: top;}


sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}


pre, code, kbd, samp {font-family: monospace, sans-serif;}


.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {cursor: pointer;}


button, input, select, textarea {margin: 0;}

button,
input[type=button] {width: auto; overflow: visible;}


.ie7 img {-ms-interpolation-mode: bicubic;}


.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


.html{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before{
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body{
font-family: 'Lato';
font-weight: 400;
font-size: 18px;
min-width: 320px;
overflow-x: hidden;
}

a{
  text-decoration: none;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-transform: inherit;
}


/* GLOBAL */

.container{
  max-width: 1220px;
  padding: 0 15px;
  margin: 0 auto;
}

.pre-title{
  color: #ffc61a;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 900;
  -webkit-animation: fadeInDown 1s;
          animation: fadeInDown 1s;
}

.title{
  font-weight: 900;
  font-size: 44px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  color: #000;
  text-transform: uppercase;
  -webkit-animation: fadeInDown .5s;
          animation: fadeInDown .5s;
}

.descr{
  font-size: 18px;
  color: #101010;
}


.btn a{
  color: #fff;
  font-family: 'Bebas Neue';
  font-weight: 700;
  font-size: 30px;
  padding: 6px 35px;
  background-color: #000;
  border-radius: 5px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.btn a:hover{
  color: #ffc61a;
}

/* /GLOBAL */

.header{
  background-image: url(../images/top-bg.jpg);
  background-color: #0c0c0c;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 100%;
}

.header__top{
  padding: 70px 15px 0;
  max-width: 1420px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo__wrapper{
  -webkit-animation: logo 1s;
          animation: logo 1s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}


.logo__descr{
  font-weight: 900;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-top: 2px;
}

/* MENU/////////////////////////////// */


.menu__btn{
  width: 40px;
  display: none;
}

.menu__btn div{
  height: 3px;
  background-color: #fff;
  margin-bottom: 6px;
}

.menu__list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  -webkit-animation-name: menu;
          animation-name: menu;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

.menu__list a{
  text-transform: uppercase;
  padding: 10px 22px;
  background-color: transparent;
  border-radius: 19px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.menu__list a:hover{
  background-color: #ffc61a;
}

/* /MENU///////////////////////// */

.header__content{
  max-width: 1193px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}


.header__pre-title{
  margin-top: 90px;
  -webkit-animation: fadeInDown 1s;
          animation: fadeInDown 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}

.header__number{
  font-size: 72px;
  color: #fff;
  -webkit-animation: fadeInDown 1s;
          animation: fadeInDown 1s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}

.header__address{
  font-size: 20px;
  color: #fff;
  letter-spacing: 0.72em;
  -webkit-animation: fadeInUp 1s;
          animation: fadeInUp 1s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}

.header__img{
  margin-top: 75px;
}

.header__img img{
  margin-bottom: -110px;
}

/* section book */

.book{
  background-color: #ffc61a;
  min-height: 700px;
}

.book__inner{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 140px;
}

.book__info{
  max-width: 560px;
}

.book__pre-title{
  color: #000;
  margin-bottom: 10px;
  -webkit-animation: fadeInLeft 1s;
          animation: fadeInLeft 1s;
}

.book__title{
  font-weight: 900;
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 15px;
  -webkit-animation: fadeInLeft 1.3s;
          animation: fadeInLeft 1.3s;
}

.book__descr{
  margin-bottom: 70px;
  -webkit-animation: fadeInLeft 1.6s;
          animation: fadeInLeft 1.6s;
}

.book__btn{
  -webkit-animation: fadeInLeft 1.9s;
          animation: fadeInLeft 1.9s;
}

.book__form{
  margin-top: 15px;
  -webkit-animation: fadeInRight 1s;
          animation: fadeInRight 1s;
}

.book-form{
  max-width: 423px;
  width: 100%;
  background-color: #fff;
}

.book-form__title{
  font-weight: 900;
  font-size: 35px;
  color: #fff;
  text-transform: uppercase;
  background-color: #171717;
  padding: 20px 0 20px 35px;
  margin-bottom: 12px;
}

.book-form__title span{
  font-weight: 900;
  font-size: 35px;
  color: #ffc61a;
  text-transform: uppercase;
}

/* FORM */

.book-form__fields{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.book-form__fields input{
  width: 170px;
  margin: 15px 0;
  border: none;
  border-bottom: 3px solid #e4e4e4;
  font-size: 20px;
  padding-bottom: 10px;
  outline: none;
}

.book-form__field-left,
.book-form__field-right{
  width: 170px;
}

.book-form__field-left{
  margin-left: 35px;
}

.book-form__field-left input{
  font-family: 'Lato';
  color: #000;
  font-weight: 600;
}

.book-form__field-left input::-webkit-input-placeholder{
  font-family: 'Lato';
  color: #000;
  font-weight: 600;
}

.book-form__field-left input::-moz-placeholder{
  font-family: 'Lato';
  color: #000;
  font-weight: 600;
}

.book-form__field-left input:-ms-input-placeholder{
  font-family: 'Lato';
  color: #000;
  font-weight: 600;
}

.book-form__field-left input::-ms-input-placeholder{
  font-family: 'Lato';
  color: #000;
  font-weight: 600;
}

.book-form__field-left input::placeholder{
  font-family: 'Lato';
  color: #000;
  font-weight: 600;
}

.book-form__field-right{
  margin-right: 25px;
}

.book-form__field-right input{
  font-family: 'Lato';
  color: #4b4b4b;
  font-weight: 500;
}

.book-form__field-right input::-webkit-input-placeholder{
  font-family: 'Lato';
  color: #4b4b4b;
  font-weight: 500;
}

.book-form__field-right input::-moz-placeholder{
  font-family: 'Lato';
  color: #4b4b4b;
  font-weight: 500;
}

.book-form__field-right input:-ms-input-placeholder{
  font-family: 'Lato';
  color: #4b4b4b;
  font-weight: 500;
}

.book-form__field-right input::-ms-input-placeholder{
  font-family: 'Lato';
  color: #4b4b4b;
  font-weight: 500;
}

.book-form__field-right input::placeholder{
  font-family: 'Lato';
  color: #4b4b4b;
  font-weight: 500;
}

.book-form__field-choose{
  margin: 0 25px 0 35px;
}

.book-form__field-choose input{
  font-weight: 600;
  outline: none;
  width: 100%;
  color: #000;
  margin: 15px 0;
  border: none;
  border-bottom: 3px solid #e4e4e4;
  font-size: 20px;
  padding-bottom: 10px;
}

.book-form__field-choose input::-webkit-input-placeholder{
  font-weight: 600;
  color: #000; 
}

.book-form__field-choose input::-moz-placeholder{
  font-weight: 600;
  color: #000; 
}

.book-form__field-choose input:-ms-input-placeholder{
  font-weight: 600;
  color: #000; 
}

.book-form__field-choose input::-ms-input-placeholder{
  font-weight: 600;
  color: #000; 
}

.book-form__field-choose input::placeholder{
  font-weight: 600;
  color: #000; 
}

.book-form__btn{
  max-width: 376px;
  width: 100%;
  height: 48px;
  margin: 25px auto 20px;
}

.book-form__btn button{
  outline: none;
  font-family: 'Bebas Neue';
  font-weight: 700;
  font-size: 30px;
  border: none;
  background-color: #131313;
  text-transform: uppercase;
  color: #fff;
  border-radius: 7px;
  width: 100%;
  height: 100%;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.book-form__btn button:hover{
  color: #ffc61a;
}

/* /FORM //////////////////////////////////////////////////////*/




.tariffs__pre-title{
  margin-top: 55px;
  text-align: center;
}

.tariffs__title{
  text-align: center;
  margin-bottom: 45px;
}

.tariffs__items{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tariffs__item{
  max-width: 373px;
  width: 100%;
  -webkit-animation: fadeInRight;
          animation: fadeInRight;
}

.tariffs__item--left{
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.tariffs__item--center{
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.tariffs__item--right{
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.tariffs__img{
  width: 366px;
  height: 178px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.tariffs__item-info{
  position: relative;
  background-color: #f5f4f2;
  margin: -100px 0 77px;
  text-align: center;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.tariffs__item-info::after{
  content: "";
  position: absolute;
  background-image: url(../images/tariffs-hover.png);
  height: 74px;
  width: 74px;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}


.tariffs__item-info:hover::after {
  opacity: 1;
  visibility: visible;
}


.tariffs__item-title{
  font-weight: 900;
  font-size: 30px;
  text-transform: uppercase;
  padding-top: 115px;
  margin-bottom: 20px;
}

.tariffs__item-descr{
  max-width: 310px;
  width: 100%;
  margin: 0 auto 35px;
}

.tariffs__item-price{
  font-weight: 900;
  font-size: 44px;
  text-transform: uppercase;
  color: #ffc61a;
  margin-bottom: 45px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.tariffs__item-btn{
  padding-bottom: 40px;
}

.tariffs__item-btn a{
  background-color: #ffc61a;
  color: #000;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.tariffs__item-info:hover{
  background-color: #ffc61a;
}


.tariffs__item-info:hover .tariffs__item-btn a{
  background-color: #1b1b1b;
  color: #fff;
}

.tariffs__item-btn a:hover{
  color: #ffc61a;
}

.tariffs__item-info:hover .tariffs__item-price{
  color: #131313;
}

.advantages{
  background-image: url(../images/advantages-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.advantages__pre-title{
  text-align: center;
  padding-top: 70px;
}

.advantages__title{
  color: #fff;
  font-weight: 900;
  text-align: center;
  margin-bottom: 80px;
}

.advantages__row{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__row{
  margin-bottom: 80px;
}

.advantages-item{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: fadeInUp;
          animation: fadeInUp;
}

.advantages__item--top-left{
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}

.advantages__item--top-right{
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.advantages__item--bottom-left{
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.advantages__item--bottom-right{
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.advantages-item__icon{
  height: 80px;
  width: 80px;
  background-color: #ffc61a;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantages-item__info{
  margin-left: 30px;
  max-width: 375px;
  width: 100%;
}

.advantages-item__title{
  color: #ffc61a;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 25px;
}

.advantages-item__descr{
  color: #fff;
}

.advantages__btn{
  text-align: center;
  padding-bottom: 85px;
  -webkit-animation: fadeInUp 1s;
          animation: fadeInUp 1s;
}

.advantages__btn a{
  background-color: #ffc61a;
  color: #010101;
}

.advantages__btn a:hover{
  color: #010101;
}

/* DOWNLOAD */

.download__pre-title{
  text-align: center;
  margin-top: 60px;
}

.download__title{
  text-align: center;
  margin-bottom: 35px;
}

.download__items{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.download__info{
  max-width: 444px;
  width: 100%;
}

.download__pre-descr{
  font-weight: 900;
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 38px;
  -webkit-animation: fadeInLeft .5s;
          animation: fadeInLeft .5s;
}

.download__descr{
  max-width: 366px;
  width: 100%;
  margin-bottom: 57px;
  -webkit-animation: fadeInLeft .8s;
          animation: fadeInLeft .8s;
}

.download__btns{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: fadeInLeft 1.2s;
          animation: fadeInLeft 1.2s;
}

.download__img img{
  margin-bottom: -4px;
}

/* /DOWNLOAD */

/* CLIENTS */

.clients{
  background-image: url(../images/clients-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.clients__pre-rirle{
  text-align: center;
  padding-top: 100px;
}

.clients__title{
  text-align: center;
  color: #fff;
  margin-bottom: 96px;
}

.clients__items{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 85px;
}

.clients-item{
  background-color: #040707;
  max-width: 580px;
  border-radius: 47px;
  padding: 35px 47px 30px;
  position: relative;
}

.clients__item--left{
  -webkit-animation: bounceInLeft;
          animation: bounceInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.clients__item--right{
  -webkit-animation: bounceInRight;
          animation: bounceInRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.clients-item__descr{
  color: #fff;
  padding-left: 5px;
  margin-bottom: 20px;
}

.clients-item__person{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.clients-item__person-icon{
  width: 74px;
  height: 74px;
  border-radius: 50%;
}

.clients-item__person-info{
  text-transform: uppercase;
  padding-left: 18px;
}

.clients-item__person-name{
  color: #ffc61a;
  font-size: 25px;
  font-weight: 900;
}

.clients-item__person-profession{
  color: #fff;
  font-weight: 900;
  padding-left: 6px;
}

.clients-item__arrow-left{
  border: 14px solid transparent;
  border-top: 14px solid #040707;
  border-left: 14px solid #040707;
  height: 28px;
  width: 28px;
  position: absolute;
  bottom: -28px;
  right: 105px;
}

.clients-item__arrow-right{
  border: 14px solid transparent;
  border-top: 14px solid #040707;
  border-right: 14px solid #040707;
  height: 28px;
  width: 28px;
  position: absolute;
  bottom: -28px;
  left: 105px;
}

/* /CLIENTS */

/* CALL */

.call{
  background-color: #ffc61a;
}

.call__pre-title{
  color: #000;
  padding-top: 70px;
  text-align: center;
  margin-bottom: 15px;
}

.call__number{
  font-weight: 900;
  font-size: 77px;
  text-align: center;
  padding-bottom: 80px;
  -webkit-animation: fadeInUp 1s;
          animation: fadeInUp 1s;
}

.call__number-link{
  color: #000;
}



/* /CALL */


/* FOOTER */

.footer{
  background-image: url(../images/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.footer__items{
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}

.footer__item{
  max-width: 340px;
  width: 100%;
}

.footer__item--right{
  -webkit-animation: fadeInLeftBig 1.5s;
          animation: fadeInLeftBig 1.5s;
}

.footer__item--center{
  -webkit-animation: bounceIn 1.5s;
          animation: bounceIn 1.5s;
}

.footer__item--left{
  -webkit-animation: fadeInRightBig 1.5s;
          animation: fadeInRightBig 1.5s;
}

.footer__title{
  font-weight: 900;
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 32px;
}

.footer__line{
  height: 8px;
  width: 100%;
  background-color: #ffc61a;
}

.footer__descr{
  margin-top: 40px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 35px;
  margin-left: 5px;
}

.footer__buttons{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-left: 5px;
}

.footer__buttons-soc{
  margin-right: 20px;
}

.footer__download{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 180px;
  width: 100%;
  margin-bottom: 20px;
  margin-left: 5px;
}

.footer__download-name a{
  color: #ffc61a;
  font-size: 20px;
  font-weight: 400;
}

.footer__contacts{
  margin-top: 40px;
  margin-left: 5px;
}

.footer__contact{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 28px;
}

.footer__contact-icon{
  margin-right: 28px;
}


.footer__copyright{
  font-size: 14px;
  color: #fff;
  text-align: center;
  padding: 20px 0 20px;
  background-color: rgba(0, 0, 0, 0.678);
}

@-webkit-keyframes logo {
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes logo {
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes menu {
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes menu {
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes bounceInLeft {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
            transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
            transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInLeft {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
            transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
            transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes bounceInRight {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
            transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
            transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInRight {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
            transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
            transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
            transform: translate3d(2000px, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
            transform: translate3d(2000px, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
            transform: translate3d(-2000px, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
            transform: translate3d(-2000px, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
            transform: scale3d(0.97, 0.97, 0.97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
            transform: scale3d(0.97, 0.97, 0.97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@media(max-width:1230px){
  .clients-item{
    width: 49%;
    max-width: none;
  }
}

@media(max-width:1200px){
  .tariffs__item {
    width: 32%;
  }
  .tariffs__img img{
    max-width: 100%;
    margin: 0 auto;
  }
  .tariffs__img {
    width: 100%;
  }
}

@media(max-width:1100px){
  .pre-title{
    font-size: 30px;
  }
  .book__pre-title {
    margin-bottom: 5px;
  }
  .book__title {
    font-size: 45px;
  }
  .book__info {
    max-width: 500px;
  }
  .descr{
    font-size: 16px;
  }
  .book-form__title{
    font-size: 30px;
    padding: 15px 0 15px 20px;
  }
  .book-form__title span{
    font-size: 30px;
  }
  .book-form__field-left {
    margin-left: 20px;
  }
  .book-form__field-right {
    margin-right: 20px;
  }
  .book-form__field-choose {
    margin: 0 20px 0 20px;
  }
  .book-form__field-left,
  .book-form__field-right {
    width: 180px;
  }
  .book-form__fields input{
    width: 180px;
  }
  .tariffs__item-title{
    font-size: 26px;
  }
  .tariffs__item-price {
    font-size: 40px;
    margin-bottom: 36px;
  }
  .tariffs__item-descr {
    margin: 0 auto 30px;
  }
  .advantages-item__title {
    font-size: 20px;
  }
  .download__pre-title {
    margin-top: 40px;
  }
  .footer__item {
    max-width: none;
    width: 32%;
  }
}

@media(max-width:1000px){
  body{
    font-size: 16px;
  }
  .menu__list a{
    font-size: 14px;
    padding: 10px 15px;
  }
  .pre-title {
    font-size: 26px;
  }
  .header__number {
    font-size: 58px;
  }
  .header__address {
    font-size: 16px;
  }
  .header__img img {
    width: 600px;
    margin-bottom: -85px;
  }
  .header__pre-title {
    margin-top: 60px;
  }
  .header__img {
    margin-top: 45px;
  }
  .logo img{
    max-width: 90%;
  }
  .logo__descr{
    font-size: 13px;
  }
  .book__title {
    font-size: 40px;
  }
  .descr {
    font-size: 14px;
  }
  .book__inner {
    padding-top: 100px;
  }
  .book__title {
    font-size: 30px;
  }
  .book__info {
    max-width: 440px;
  }
  .book-form__title {
    font-size: 30px;
    padding: 10px 0 15px 10px;
  }
  .book-form {
    max-width: 360px;
  }
  .book-form__field-left {
    margin-left: 5px;
  }
  .book-form__field-right {
    margin-right: 5px;
  }
  .book-form__field-left, .book-form__field-right {
    width: 170px;
  }
  .book-form__fields input {
    width: 170px;
    margin: 10px 0;
    border-bottom: 2px solid #e4e4e4;
    font-size: 16px;
  }
  .book-form__field-choose input {
    margin: 10px 0;
    border-bottom: 2px solid #e4e4e4;
    font-size: 16px;
    padding-bottom: 10px;
  }
  .book-form__btn button {
    font-size: 25px;
  }
  .book-form__btn {
    max-width: 320px;
    margin: 16px auto 20px;
  }
  .btn a{
    font-size: 25px;
  }
  .title {
    font-size: 35px;
  }
  .book {
    min-height: 580px;
  }
  .tariffs__pre-title {
    margin-top: 40px;
  }
  .tariffs__item-title {
    padding-top: 95px;
  }
  .advantages-item__icon {
    height: 60px;
    width: 60px;
  }
  .advantages-item__info {
    margin-left: 15px;
  }
  .advantages-item__title {
    font-size: 18px;
  }
  .advantages__pre-title {
    padding-top: 45px;
  }
  .advantages__title {
    margin-bottom: 40px;
  }
  .advantages__row {
    margin-bottom: 50px;
  }
  .advantages__btn {
    padding-bottom: 60px;
  }
  .advantages-item {
    margin-right: 10px;
  }
  .download__pre-descr {
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 18px;
    margin-top: 25px;
  }
  .download__img img{
    width: 80%;
    margin-right: 0;
    margin-left: 70px;
    margin-bottom: -3px;
  }
  .clients__pre-rirle {
    padding-top: 45px;
  }
  .clients__title {
    margin-bottom: 40px;
  }
  .clients-item__person-name {
    font-size: 20px;
  }
  .call__number {
    font-size: 70px;
    padding-bottom: 60px;
  }
  .call__pre-title {
    padding-top: 60px;
  }
}

@media(max-width:850px){
  body{
    font-size: 14px;
  }
  .menu__list a{
    font-size: 12px;
    padding: 10px 10px;
  }
  .pre-title {
    font-size: 20px;
  }
  .header__number {
    font-size: 48px;
  }
  .header__address {
    font-size: 14px;
  }
  .header__img img {
    width: 450px;
    margin-bottom: -55px;
  }
  .header__pre-title {
    margin-top: 45px;
  }
  .header__img {
    margin-top: 35px;
  }
  .logo img{
    max-width: 70%;
  }
  .logo__descr{
    font-size: 10px;
  }
  .book__info {
    max-width: 400px;
  }
  .book__inner{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .book__info{
    max-width: 100%;
    text-align: center;
  }
.book__descr {
    margin-bottom: 35px;
  }
  .book-form {
    max-width: 100%;
    margin: 40px auto;
  }
  .book-form__fields {
    width: 95%;
    margin: 0 auto;
  }
  .book-form__field-left, .book-form__field-right {
    width: 48%;
  }
  .book-form__fields input {
    width: 100%;
  }
  .book-form__field-choose {
    margin: 0 auto;
    width: 80%;
  }
  .book__inner {
    padding-top: 80px;
  }
  .tariffs__pre-title {
    margin-top: 30px;
  }
  .tariffs__title {
    margin-bottom: 30px;
  }
  .title {
    font-size: 27px;
  }
  .tariffs__item-info {
    margin: -125px 0 77px;
  }
  .tariffs__item-title {
    padding-top: 88px;
    font-size: 22px;
    margin-bottom: 12px;
  }
  .tariffs__item-descr {
    margin: 0 auto 12px;
  }
  .tariffs__item-price {
    font-size: 32px;
    margin-bottom: 29px;
  }
  .download__btn-googleplay img{
    max-width: 90%;
  }
  .clients-item__person-icon {
    width: 60px;
    height: 60px;
  }
  .clients-item {
    padding: 20px 32px 15px;
  }
  .clients__items {
    padding-bottom: 55px;
  }
  .call__number {
    font-size: 58px;
  }
  .footer__title {
    font-size: 21px;
    margin-bottom: 21px;
  }
  .footer__items {
    padding-top: 40px;
  }
}

@media(max-width:700px){
  .logo__wrapper{
    -webkit-animation: none;
            animation: none;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .header__pre-title{
    -webkit-animation: none;
            animation: none;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .header__number{
    -webkit-animation: none;
            animation: none;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .header__address{
    -webkit-animation: none;
            animation: none;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .menu__list{
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    top: 80px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    -webkit-animation: none;
            animation: none;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    z-index: 5;
    background-color: #171717;
  }

  .menu__list li{
    margin: 5px 0;
  }

  .menu__list a{
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
  }

  .menu__btn{
    display: block;
  }
  .header__top {
    padding: 40px 15px 0;
  }
  .tariffs__items{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .tariffs__item{
    width: 100%;
    max-width: none;
    margin: 0 auto;
  }
  .tariffs__img {
    width: 366px;
  }
  .tariffs__item-info {
    margin: -90px 0 46px;
  }
  .tariffs__item-title {
    padding-top: 100px;
    font-size: 26px;
  }
  .advantages__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .advantages-item {
    margin-bottom: 50px;
  }
  .advantages__row {
    margin-bottom: 0px;
  }
  .advantages-item__info{
    max-width: none;
  }
  .download__img img {
    margin-left: 60px;
  }
  .download__pre-title {
    margin-top: 30px;
  }
  .download__title {
    margin-bottom: 25px;
  }
  .download__descr {
    margin-bottom: 40px;
  }
  .download__pre-descr {
    font-size: 18px;
  }
  .clients__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 0;
    margin: 0 auto;
  }
  .clients-item {
    width: 100%;
  }
  .clients-item {
    width: 100%;
    margin-bottom: 30px;
  }
  .clients-item__arrow-left,
  .clients-item__arrow-right{
    display: none;
  }
  .clients__title {
    margin-bottom: 20px;
  }
  .clients__pre-rirle {
    padding-top: 30px;
  }
  .footer__items {
    padding-top: 25px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__item {
    width: 100%;
    margin-bottom: 20px;
  }
  .footer__title {
    margin-bottom: 5px;
    font-size: 18px;
  }
  .footer__descr {
    margin-top: 15px;
    margin-bottom: 8px;
  }
  .footer__download {
    margin-bottom: 5px;
  }
  .footer__download-name a {
    font-size: 16px;
  }
  .footer__download-icon img{
    width: 80%;
  }
  .footer__contacts {
    margin-top: 15px;
  }
  .footer__contact {
    margin-bottom: 10px;
  }
  .footer__contact-icon img{
    width: 80%;
  }
  .footer__line {
    height: 3px;
  }

}

@media(max-width:600px){
  .download__img{
    display: none;
  }
  .download__info{
    max-width: none;
  }
  .download__pre-descr {
    font-size: 18px;
    text-align: center;
    margin-top: 0;
  }
  .download__descr{
    text-align: center;
  }
  .download__descr{
    max-width: none;
  }
  .download__btns {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .download__btns img{
    max-width: 80%;
  }
  .download__btns {
    margin-bottom: 20px;
  }
  .call__pre-title{
    font-size: 16px;
    padding-top: 30px;
  }
  .call__number {
    font-size: 44px;
    padding-bottom: 40px;
  }
}

@media(max-width:500px){
  .header__pre-title {
    margin-top: 18px;
  }
  .header__img img {
    width: 350px;
    margin-bottom: -50px;
  }
  .header__number {
    font-size: 40px;
  }
  .header__address {
    font-size: 12px;
  }
  .header__img {
    margin-top: 20px;
  }
  .header__top {
    padding: 20px 15px 0;
  }
  .book-form__fields {
    display: block;
  }
  .book-form__field-left, .book-form__field-right {
    width: 95%;
    margin: 0 auto;
  }
  .tariffs__img {
    width: 330px;
  }
  .advantages-item {
    margin-bottom: 25px;
  }
  .advantages-item__icon {
    height: 50px;
    width: 50px;
  }
  .tariffs__item-info {
    margin: -90px 0 30px;
  }
  .advantages__pre-title {
    padding-top: 35px;
  }
  .advantages__title {
    margin-bottom: 30px;
  }
  .advantages__btn {
    padding-bottom: 35px;
  }
  .clients-item__person-name {
    font-size: 18px;
  }
  .clients-item__person-icon {
    width: 45px;
    height: 45px;
  }
  .clients-item__descr {
    margin-bottom: 10px;
  }
  .call__number {
    font-size: 36px;
  }
  .footer__copyright {
    font-size: 12px;
  }
  .menu__list{
    top: 60px;
  }
}

@media(max-width:370px){
  .logo img {
    max-width: 48%;
  }
  .logo__descr {
    font-size: 7px;
  }
  .pre-title {
    font-size: 14px;
  }
  .header__number {
    font-size: 30px;
  }
  .header__address {
    font-size: 9px;
  }
  .header__img img {
    width: 300px;
    margin-bottom: -38px;
  }
  .book__inner {
    padding-top: 41px;
  }
  .book__title {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .book__descr {
    margin-bottom: 20px;
  }
  .book-form {
    margin: 25px auto;
  }
  .book-form__title {
    font-size: 25px;
    padding: 4px 0 4px 10px;
  }
  .book-form__title span{
    font-size: 25px;
  }
  .book-form__fields input {
    font-size: 14px;
    margin: 6px 0;
  }
  .book-form__field-choose input {
    margin: 6px 0;
    font-size: 14px;
  }
  .book-form__btn {
    max-width: 255px;
    margin: 6px auto 16px;
  }
  .tariffs__img {
    width: 280px;
  }
  .tariffs__item-title {
    padding-top: 70px;
  }
  .tariffs__item-info {
    margin: -114px 0 30px;
  }
  .advantages-item__title {
    font-size: 14px;
  }
  .descr {
    font-size: 12px;
  }
  .clients-item {
    margin-bottom: 10px;
  }
  .menu__list{
    top: 50px;
  }
}

@media(min-width:701px){
  .menu__list{
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}




